.app {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background-color: #dadbd3; */
  background: linear-gradient(to bottom, #009688 20%, #dadbd3 20%);
  margin-top: -15px;
}


.app__body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  /* margin-top: -20px; */
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}