.null {
    display: flex;
    /* display:inline-flex; */
    flex-direction: column;
    flex: 0.65;
    background-color: #F8F9FA;
    align-items: center;
    justify-content: center;
}

.null__centre {
    margin-top: 60px;
    margin-left: 40px;
    text-align: center;
    width: 80%;
    max-width: 560px;
}

.null__contact {
    margin-top: 34px;
    border-top: #E5E6E6 1px solid;
}

.null__contactpara {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #AEAFAF;
    text-align: center;
}
.null__contactpara > a{
    text-decoration: none;
    color: #0aa244;
}

.null__introimage {
    height: 250px;
    width: 250px;
    position: relative;
}

.null__centre>h1 {
    font-size: 32px;
    margin-top: 28px;
    color: #545454;
    font-weight: 300;
}

.null__details {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #AEAFAF;
    text-align: center;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerinfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerinfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerinfo>p {
    color: gray;
}

.null__body {
    flex: 1;
    background-repeat: repeat;
    background-position: center;
    background-image: none;
    background-color: #F8F9FA;
    padding: 30px;
    overflow: hidden;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat_receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer>form {
    flex: 1;
    display: flex;
}

.chat__footer>form>input {
    flex: 1;
    outline-width: 0;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer>form>button {
    display: none;
}

.chat__footer>.MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}